[flake8]
ignore =
	### Disabled because of conflicts with black
	E203, # whitespace before ':'
	### Disabled because it makes the samples look worse
	F841, # local variable is assigned but not never used
	W503, # line break before binary operator

# Covered better by pylint
max-line-length = 9999
