[flake8]
ignore =
    ### Disabled because of conflicts with black
    # whitespace before ':'
    E203,
    # missing whitespace after ','
    E231,
    ### Disabled because it makes the samples look worse
    # local variable is assigned but not never used
    F841,
    # line break before binary operator
    W503,
    # Missing exception(s) in Raises section
    DAR401,
# Covered better by pylint
max-line-length = 9999
exclude =
    # No need to traverse our git directory
    .git,
    # No need to traverse 3rd party libraries
    source/applications/advanced/hand_eye_calibration/ur_hand_eye_calibration/3rdParty/*
