[MESSAGES CONTROL]
disable=bad-continuation,         ######## Disabled because of conflicts with black ########
        consider-using-enumerate, ######## Temporary disabled ########
        import-error,
        duplicate-code
[TYPE CHECK]
generated-members=cv2.*

[DESIGN]
max-args=7
max-locals=16
max-returns=9
max-bool-expr=6

[FORMAT]
max-line-length=119
